/* Design General */

body {
    font-size: 18px;
    color: #4D5470;
    font-family: 'Lora', serif;
    
    background-color: #494a88;

  }
  
  h1 {
    font-weight: 900;
    font-size: 32px;
  
  }
  p{
    text-align: center;
    
  }
  #intro:hover{
    color: rgb(170, 48, 17);
    transform: scale(1.3);
    
      
  }
  
  h2 {
    font-weight: 600;
    font-size: 22px;
  }
  
  h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    color: #111a3b;
    text-align: center;
  }
  .list{
    display: inline-block;
    list-style: none;
margin: 0.2%;
    
  }
  a {
    text-decoration: none;
  }
  
  .card-VIOLET {
    background-color: rgb(224, 185, 230);
    text-align: center;
    border-radius: 5px;
    padding: 17px;
    margin: 20px 0;
   
    
  }
  

  #benevolat{
    height: 103px;
    border-radius: 5px;
    
  }
  .ard-EXPE {
    background-color: white;
    text-align: center;
    border-radius: 5px;
    padding: 40px;
    margin: 20px 0;
   

    
  }
  
  .container {
    width: 700px;
    margin: 100px auto;
  }
  
  #Brice_image{
    width: 10px;
    border-radius: 50%;
    height: 100px;
    box-shadow: 0px 20px 30px #494a88;
    
  }

.jeux{

  background-color: rgb(224, 185, 230);
    text-align: center;
    border-radius: 5px;
    padding: 0px;
    margin: 20px 0;
    overflow: hidden;
    box-shadow: 0 1px 15px #e8e8f1;
    position: relative;
}


#game{
    background-color: rgb(224, 185, 230);
    text-align: center;
    border-radius: 5px;
    padding: 180px;
    margin: 50px 0;
    overflow: hidden;
    box-shadow: 0 1px 15px #222;
    position: relative;
    overflow: hidden;
    -webkit-transform: perspective(200px) rotateX(15deg) translateY(-90px); /* impression 3D*/
            transform: perspective(200px) rotateX(15deg) translateY(-90px);
}
#gameover,
#win {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

}

#gameover {
  display: none;
  background: tomato;
}
#win {
  opacity: 0; /*une transition plus douce en fin de jeu*/
  pointer-events: none; /* permet de l’avoir constamment au dessus du reste sans qu’il n’influence les contrôles du jeu */
  
}
#start-spot { /* point de départ*/
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 20px;
    height: 20px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #6263D8;
  }
  
  .wall-left,
.wall-right { /*les murs*/
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%; /* Nous changerons cette valeur pour 400% une fois le niveau dessiné */
  background: linear-gradient(#fff,#777);
}
.wall-left { /* definition du polygone du mur gauche*/
    left: 0;
    -webkit-clip-path: polygon(
      0 0 /* Une premier point en haut à gauche de l’écran */,
      40% 0 /* Le second point en haut à droite de la forme */,
      35% 15% /* Ce point comme les suivants crée les « zig-zag » */,
      55% 35%,
      45% 45%,
      60% 60%,
      30% 80%,
      40% 100% /* Le point à gauche du point de #start-spot */,
      0 100% /* Ce dernier point en bas à gauche de l’écran */
    );
  }
  .wall-right { /* def de ploygone du mur droit */
    right: 0;
    -webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%, 44% 81%, 70% 60%,57% 44%, 65% 35%, 46% 15%);
  }
  
  @keyframes wallScroll{ /*annimations avec etapes: à 0% il se passe rien à une keyframe 100% où le niveau sera entièrement déroulé  */
    0% {
      transform: none;
    }
    100% {
      transform: translateY (100%);
    }
}
                        
    @keyframes win { /* une keyframe qui affichera l’écran de fin si le joueur arrive jusqu’au bout de l’animation*/
        0% {
          opacity: 0;
        }
        99% {
          opacity: 0; /* on attend le tout dernier moment de l'animation */
        }
        100% {
          opacity: 1;
        }
      }
    
     /* activation annimation animations au moment opportun. 
     Tout d’abord dès que nous entrons dans l’espace de jeu, les murs commencent à se déplacer 
     
     #game:hover 
     .wall-left,
      #game:hover .wall-right { 
        -webkit-animation: walls 07s ease-in forwards;
                animation: walls 07s ease-in forwards;
      }
      */
#game:hover #win { /* activation animation de fin avec un timing, ainsi dès qu’on arrive à la 
    fin on affiche le message de félicitation */
    -webkit-animation: win 07s linear forwards;
            animation: win 07s linear forwards;
  }
  #game:hover #start-spot { /*on retire le #start-point qui ne sera pas utile lors de notre parcours*/
    display: none;
  }
  /* on utilise ici le '~' pour selectioner un élément au même niveau plus loin dans le DOM
  Dès que l’on survole l’un des murs, nous affichons l’écran de Game Over au dessus de l’ensemble */
.wall-left:hover ~ #gameover,
.wall-right:hover ~ #gameover,
#gameover:hover {
  display: block;
  z-index: 1;
}
#gameover h1,
#win h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
#game {
    cursor: url('vessel.png'), auto; 
  }

  #linkedin_image{
    width: 200px;
    border-radius: 5%;
    height: 200px;
    box-shadow: 0px 20px 30px #494a88;
    padding: 10px;
  }
  .BOUTON_BLEU {
    background-color: #6263D8;
    color: white;
    border-radius: 4px;
    padding: 15px 20px;
    margin: 150px ;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
    
    display: block;

  }
  .BOUTON_Grid{
    background-color: #6263D8;
    color: white;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: block;
    padding: 15px 10px;
    margin: 30px;
  }
  .BOUTON_Grid:hover{
    
        background-color: black;
        transform: translateY(19px);
      }
  
  .card-Grid{
    background-color: rgb(224, 185, 230);
    text-align: center;
    border-radius: 5px;
    padding: 40px;
    margin: 20px 0;
    
  }
.intro-Grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    
}
  .card-Grid{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}
.zoom:hover{
  transition: 0.3s;
}
.zoom:hover {
    cursor:pointer;
    transform:scale(1.3);

}

  .BOUTON_BLEU:hover {
    background-color: black;
    transform: translateX(19px);
  }
  
  
  #intro {
    margin-bottom: 50px;
    color: #393a88;
    text-align: center;
    margin: 45px ;
  }
  
  .list-inline {
    list-style: none;
    padding-left: 0px;
    
  }
  
  .list-inline li {
    display: inline;
    

  }
 

  .list-inline img {
    width: 150px;
    margin: 0 20px;
    
  }
  
  .list-inline i {
    font-size: 50px;
    color: grey;
    letter-spacing: 30px;
  }
  
  .list-inline i:hover {
    color: black;
    transform: translateY(19px);
  }

